.r1-prdshow {
    position: sticky;
    top: 0px;
}

.r2-addcart-adc,
.r3-addcart-adc {
    display: inline-block;
    margin-left: 10%;
    overflow-y: scroll;
}

.r2-addcart-adc {
    width: 30%;
}

.r3-addcart-adc {
    width: 50%;
}

.head-box-adc {
    display: block;
}

.bx-1-adc {
    margin-top: 10px;
    padding: 10px;
    background-image: linear-gradient(pink, lightblue);
    width: auto;
    height: auto;
}

.bx-2-adc {
    position: fixed;
    top: 15%;
    padding: 10px;
    background-image: linear-gradient(pink, lightblue);
    width: 45%;
    height: auto;
}

.prd-img-adc {
    height: 300px;
    width: 350px;
    border-radius: 10px;
    vertical-align: none;
}

.sub-box-2-adc {
    display: block;
}

.sub-box-2-adc {
    width: 100%;
    margin-top: 0px;
}

.subbox-2-adc {
    display: block;
    text-align: left;
    padding-top: 10px;
}


.div-1-adc {
    font-size: 26px;
}

.div-2-adc {
    font-size: 16px;
    margin: 15px 0px;
}

.div-3-adc {
    font-size: 13px;
    margin: 10px 0px;
}

.div-4-adc {
    padding: 10px 29px;
    border: 1px solid greenyellow;
    border-radius: 8px;
}

.div-4-adc:hover {
    background-color: greenyellow;
}