.cnt-pdc {
   padding: 0px;
}

.r1-pdc {
    margin: 62px;
    align-items: center;
    justify-content: center;
}
.head-box-prdcrud1,
.head-box-prdcrud2{
    display: inline-block;
    width: auto;
}



.box-pdc {
    padding: 20px;
    width: 500px;
    display: block;
    background-color: white;
    -webkit-box-shadow: 0 10px 10px 0 rgba(0, 0, 0, .1);
    box-shadow: 1px 1px 15px 10px rgba(0, 0, 0, .1) !important;
    border-radius: 10px;
    background-image: linear-gradient(pink, lightblue);
}

.box-pdc2 {
    padding: 20px;
    width: auto;
    overflow-y: scroll;
    display: block;
    background-color: white;
    -webkit-box-shadow: 0 10px 10px 0 rgba(0, 0, 0, .1);
    box-shadow: 1px 1px 15px 10px rgba(0, 0, 0, .1) !important;
    border-radius: 10px;
    background-image: linear-gradient(pink, lightblue);
}

.box-pdc form div span {
    display: block;
    width: 100%;
}

.add-text {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.input-group {
    margin-top: 20px;
    margin-left: 15%;
}

.input-pdc {
    width: 70%;
    border-radius: 5px;
    border: 1px solid grey;
    font-size: 16px;
    padding: 10px;
}

.img-prd {
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.butn-group-pdc {
    margin-top: 20px;
    text-align: center;
}

.pdc-btn {
    font-size: 16px;
    width: 150px;
    border-radius: 5px;
    padding: 7px;
    color: #E3EBFB;
    background-color: #171E39;
}

.pdc-btn:hover {
    background-color: rgb(255, 255, 255);
    color: black;
}

.table-chek {
    text-align: center;
}

.input-btn-style1 {
    background-color: rgb(255, 255, 255);
    padding: 3px 5px;
    border: 1px solid greenyellow;
    border-radius: 5px;
}

.input-btn-style1:hover {
    background-color: greenyellow;
}

.input-btn-style2 {
    background-color: rgb(255, 255, 255);
    padding: 3px 5px;
    border: 1px solid red;
    border-radius: 5px;
}

.input-btn-style2:hover {
    background-color: rgb(1, 1, 29);
    color: white;
}